html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  padding-right: 10px;
  text-align: right;
  list-style-type: none;
  padding-left: 0;
}

.container {
  height: 100%;
  position: relative;
}
input {
  font-size: 12px;
}
h1 {
  font-family: 'Slabo 27px', serif;
  color: #525454;
  font-size: 40px;
  margin: 0 0 10px 0;
  text-align: center;
  margin-bottom: 30px;
}


hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}
#map {
  bottom:0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
}
.options-box {
  top: 90px;
  position: absolute;
  z-index: 1;
  background: rgba(228, 228, 228, 0.65);
  border-radius: 3px;
  height: 380px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 350px;
}

.locations_sidebar {
  right: 0px;
  top: 40px;
  position: absolute;
  z-index: 1;
  background: rgba(228, 228, 228, 0.65);
  border-radius: 3px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 360px;
  height: 60px;
  overflow: hidden;
}

.locations_li {
  cursor: pointer;
}

#pano {
  width: 400px;
  height: 400px;
}
#places-search,
#search-within-time-text {
  width: 80%;
  margin-top: 10px
}
.text {
  font-size: 1em;
}
#toggle-drawing {
  position: relative;
}
#zoom-to-area-text {
  width: 70%;
}
#zoom-to-area {
  width: 27%;
}

.gm-style .gm-style-iw {
  font-size: 18px;
  font-weight: normal;
}

.btn {
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.filter {
  width: 80%;
  display: inline-block;
}

.menu_icon {
  right: 20px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.show-hide {
  width: 49%;
}

.mb0 {
  margin-bottom: 0;
}
